
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "RobotoRegular";
    src: url(./fonts/Roboto-Regular.ttf);
  }
  img {
    width: 100%;
  }
  .section {
    @apply container mx-auto py-[8rem]  px-6;
  }
}